@import '../themes.css';

.durations {
    margin-right: auto;
    text-align: center;
    height: 40px;
    margin: 20px 0px;
}

.durations .button {
    cursor: pointer;
    height: 100%;
    margin: 0px 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#dark .durations .button {
    background-color: var(--dark-background2);
    color: var(--dark-text);
}

#dark .durations .button.clicked {
    background-color: var(--dark-button-hover-background);
    color: var(--dark-button-hover);
    border: 1px solid var(--dark-title)
}

#dark .durations .button:hover {
    background-color: var(--dark-button-hover-background);
    color: var(--dark-button-hover);
}

#dark .durations .button:active {
    transition: background-color 0s;
    background-color: white;
    color: var(--dark-button-hover);
}


#light .durations .button {
    background-color: var(--light-background2);
    color: var(--light-text);
}

#light .durations .button.clicked {
    background-color: var(--light-button-hover-background);
    color: var(--light-button-hover);
    border: 1px solid var(--light-title)
}

#light .durations .button:hover {
    background-color: var(--light-button-hover-background);
    color: var(--light-button-hover);
}

#light .durations .button:active {
    transition: background-color 0s;
    background-color: white;
    color: var(--light-button-hover);
}