@import '../themes.css';

.coinBar {
    display: block;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}

.head {
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

#dark .head {
    background-color: var(--dark-background2);
    border-bottom: var(--border-thickness) solid var(--dark-border);
}

#light .head {
    background-color: var(--light-background2);
    border-bottom: var(--border-thickness) solid var(--light-border);
}

.titles,
.graph,
.currentValue {
    margin: auto;
    width: 33%;
    text-align: center;
}

#dark .value {
    color: var(--dark-title);
}

#light .value {
    color: var(--light-title);
}

#dark .text {
    color: var(--dark-text);
}

#light .text {
    color: var(--light-text);
}

.body {
    transition: height ease 0.3s;
    overflow-y: hidden;
}