@import '../themes.css';


.homepage {
    padding-bottom: 100%;
    background-color: var(--light-background1);
}

#dark .homepage {
    background-color: var(--dark-background1);
}

#light .homepage {
    background-color: var(--light-background1);
}

.title,
.copyright,
.gitlabLink {
    display: flex;
    justify-content: center;
    font-family: Arial;
}

.title {
    font-size: 60px;
    margin: 0;
}

#dark .title {
    color: var(--dark-title);
}

#light .title {
    color: var(--light-title);
}

.copyright,
.gitlabLink {
    font-size: 20px;
    margin-bottom: 20px;
}

#dark .copyright,
.gitlabLink {
    color: var(--dark-text);
}

#light .copyright,
.gitlabLink {
    color: var(--light-text);
}

.themeToggler {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

.bold,
.notBold {
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
}

#dark .bold {
    color: var(--dark-title)
}

#light .bold {
    color: var(--light-title)
}

#dark .notBold {
    color: var(--dark-text)
}

#light .notBold {
    color: var(--light-text)
}