/*giving ceratin colors for every component part*/
:root {
    --border-thickness: 6px;

    --dark-background1: #101115;
    --dark-background2: #151920;
    --dark-border: #11151a;
    --dark-title: #c2c2c8;
    --dark-text: #393847;
    --dark-button-hover: var(--dark-title);
    --dark-button-hover-background: #050910;

    --light-background1: #dedede;
    --light-background2: #9e9e9e;
    --light-border: #5e5e5e;
    --light-title: #880000;
    --light-text: #5d5d5d;
    --light-button-hover: var(--light-title);
    --light-button-hover-background: #7a7a7a;
}

* {
    transition: background-color ease 0.7s;
}